body {
  background-color: rgb(223, 223, 223);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.title {
  color: cornflowerblue;
}

.card {
  background-color: #fff;
  max-width: 500px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
  padding: 30px 20px;
}
